<% include _header %>
    <h1>Welcome To The Profile Page</h1>

    <% users.forEach(function(user){ %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/user/<%= user.username %>">
                    <%= user.name(); %>
                </a>
            </div>
            <% if(user.bio){ %>
                <div class="pannel-body">
                    <% user.bio %>
                </div>
            <% } %>
        </div>
    <% }) %>
<% include _footer %>